#paginatedTable{
    text-align: center;
    justify-content: center;
    margin: 0 35%;
}
li{
    list-style-type: none;
    float: left;
}

.pagination {
    display: inline-block !important;
}

.pagination li{
    color: white;
    text-align: center;
    
}

table { 
    border-spacing: 10px;
    border-collapse: separate;
}

td, th{
    padding: 10px;
    border-bottom: 1px solid #d0cccc;
}

.container, .card, .card-block{
    text-align: center;
}

.pagination a {
    color: black;
    float: left;
    text-decoration: none;
    padding: 8px 16px;
}


.active a{
    background: #2355ca;
    color: white;
}

li:hover a{
    background: #1386e8d6;
    color: white;
}