<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spring Boot Thymeleaf Pagination</title>
    
    <ink href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
            
    <link rel="stylesheet" href="css/custom.css">

</head>
<body>
    
    <div class="container">
        <div class="card">
            <div class="card-block">

                <h3>Spring Boot Thymeleaf Pagination</h3>
                <hr>
                
                <div class="row">
                    <table id="paginatedTable" class="table">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Department</th>
                                <th>Salary</th>
                            </tr>
                        </thead>
                        <tbody th:each="staff : ${staffList}">
                            <tr>
                                <td th:text="${staff.firstName}"></td>
                                <td th:text="${staff.lastName}"></td>
                                <td th:text="${staff.department}"></td>
                                <td th:text="${staff.salary}"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <hr>
        
                <ul class="nav nav-pills pagination">
                    <li class="page-item"><a class="page-link" href="#">Prev</a>
                    </li>
                    
                    <li class="nav-item" th:classappend="${i}==${currentPage}?'active':''" th:each="i : ${#numbers.sequence(0,staffList.totalPages-1)}">
                        <a th:text="${i}" th:href="@{/(page=${i})}"  class="page-link"></a>
                    </li>
                    
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                </ul>

            </div>
        </div>

    </div>

</body>
</html>